.form__label {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.form__input {
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: #8f8f8f;
  font-size: 1.5rem;
  height: 2rem;
  margin: 0 auto 0.5rem;
  outline: none;
  padding: 0.25rem 1rem;
  font-family: monospace;
  width: 90%;
}