.form__label {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}

.form__input {
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  border: none;
  box-sizing: border-box;
  color: #8f8f8f;
  font-family: monospace;
  font-size: 1.5rem;
  height: 2rem;
  margin: 0 auto 0.5rem;
  outline: none;
  padding: 1.5rem 1rem;
  width: 100%;
}

.form__input:focus {
  border-bottom: 2px solid #dfdfdf;
}