.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  min-height: 2rem;
}

.form__button {
  background-color: #5cb85c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  height: 2rem;
  outline: none;
  user-select: none;
  width: 100%;
}

.form__button--disabled {
  pointer-events: none;
}

.form__button:hover {
  cursor: pointer;
}

.form__error {
  background-color: #d9534f;
  border-radius: 5px;
  color: white;
  font-size: .85rem;
  margin: 1rem auto;
  padding: .5rem;
  text-align: center;
  width: 80%;
}
